# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Sketchup 
*.skb

# VisualStudio Code
.pio
imu_rc_car/.vscode/c_cpp_properties.json
imu_rc_car/.vscode/extensions.json
imu_rc_car/.vscode/launch.json
imu_rc_hand_unit/.vscode/c_cpp_properties.json
imu_rc_hand_unit/.vscode/extensions.json
imu_rc_hand_unit/.vscode/launch.json
imu_rc_hand_unit/include/README
imu_rc_car/include/README
imu_rc_car/lib/README
imu_rc_hand_unit/test/README
imu_rc_hand_unit/lib/README
imu_rc_hand_unit/pcb/~imu_rc_hand_unit.kicad_sch.lck
/imu_rc_car/pcb/imu_rc_car_encoders/imu_rc_car_encoders-backups
/imu_rc_car/pcb/imu_rc_car_prox_sensors/imu_rc_car_prox_sensors-backups
/imu_rc_hand_unit/pcb/imu_rc_hand_unit-backups
/imu_rc_car/pcb/gerber_enc_prx_merge
